@model BITCollege_SSJ.Models.SuspendedState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuspendedState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LowerLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowerLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpperLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpperLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuitionRateFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuitionRateFactor)
        </dd>

    </dl>
</div>
